**
!package.json
!package-lock.json
!vite.config.ts
!tsconfig.json
!app/
!app/**
!components/
!components/**
!lib/
!lib/**
!server/
!server/**
!public/
!public/**
!scripts/
!scripts/start-server.ts
!scripts/library-mcp.ts
!scripts/hltb.py
!requirements-hltb.txt
!LICENSE
!README.md
**/.env*
**/*.sqlite*
**/*.pem
**/auth.json
